
/* 
==========================================================================
 MOBILE (min-width 0 and max-width 480px)
========================================================================== */

body { font-size: 1em; }

/* Temporary */
.mobile { position: fixed; bottom: 0; left: 0; z-index: 99999; padding: .5em 1em; background: black; color: white; font-weight: bold; font-size: 1.7em; display: block; content: "Mobile"; }
.mobile:after { content: "Mobile"; }

/* Device Percentages */
.mobile0 { width: 0; float: left; display: block; }
.mobile5 { width: 5%; float: left; display: block; }
.mobile10 { width: 10%; float: left; display: block; }
.mobile18 { width: 18%; float: left; display: block; }
.mobile15 { width: 15%; float: left; display: block; }
.mobile20 { width: 20%; float: left; display: block; }
.mobile25 { width: 25%; float: left; display: block; }
.mobile30 { width: 30%; float: left; display: block; }
.mobile33 { width: 33.33%; float: left; display: block; }
.mobile35 { width: 35%; float: left; display: block; }
.mobile40 { width: 40%; float: left; display: block; }
.mobile45 { width: 45%; float: left; display: block; }
.mobile50 { width: 50%; float: left; display: block; }
.mobile55 { width: 55%; float: left; display: block; }
.mobile60 { width: 60%; float: left; display: block; }
.mobile65 { width: 65%; float: left; display: block; }
.mobile66 { width: 66.66%; float: left; display: block; }
.mobile70 { width: 70%; float: left; display: block; }
.mobile75 { width: 75%; float: left; display: block; }
.mobile80 { width: 80%; float: left; display: block; }
.mobile85 { width: 85%; float: left; display: block; }
.mobile90 { width: 90%; float: left; display: block; }
.mobile95 { width: 95%; float: left; display: block; }
.mobile100 { width: 100%; float: left; display: block; }

/* Percentage Widths */
.m-width0 { width: 0; }
.m-width5 { width: 5%; }
.m-width10 { width: 10%; }
.m-width15 { width: 15%; }
.m-width20 { width: 20%; }
.m-width25 { width: 25%; }
.m-width30 { width: 30%; }
.m-width33 { width: 33.33%; }
.m-width35 { width: 35%; }
.m-width40 { width: 40%; }
.m-width45 { width: 45%; }
.m-width50 { width: 50%; }
.m-width55 { width: 55%; }
.m-width60 { width: 60%; }
.m-width65 { width: 65%; }
.m-width66 { width: 66.66%; }
.m-width70 { width: 70%; }
.m-width75 { width: 75%; }
.m-width80 { width: 80%; }
.m-width85 { width: 85%; }
.m-width90 { width: 90%; }
.m-width95 { width: 95%; }
.m-width100 { width: 100%; }