/* 
==========================================================================
 SCREEN (min-width 769px and max-width 1024px)
========================================================================== */
body { font-size: 1em; }

/* Temporary */
.screen { position: fixed; bottom: 0; left: 0; z-index: 99999; padding: .5em 1em; background: black; color: white; font-weight: bold; font-size: 1.7em; display: block; }
.screen:after { content: "Screen"; }

/* Device Percentages */
.screen0 { width: 0; float: left; display: block; }
.screen5 { width: 5%; float: left; display: block; }
.screen10 { width: 10%; float: left; display: block; }
.screen15 { width: 15%; float: left; display: block; }
.screen20 { width: 20%; float: left; display: block; }
.screen25 { width: 25%; float: left; display: block; }
.screen30 { width: 30%; float: left; display: block; }
.screen33 { width: 33.33%; float: left; display: block; }
.screen35 { width: 35%; float: left; display: block; }
.screen40 { width: 40%; float: left; display: block; }
.screen45 { width: 45%; float: left; display: block; }
.screen50 { width: 50%; float: left; display: block; }
.screen55 { width: 55%; float: left; display: block; }
.screen60 { width: 60%; float: left; display: block; }
.screen65 { width: 65%; float: left; display: block; }
.screen66 { width: 66.66%; float: left; display: block; }
.screen70 { width: 70%; float: left; display: block; }
.screen75 { width: 75%; float: left; display: block; }
.screen80 { width: 80%; float: left; display: block; }
.screen85 { width: 85%; float: left; display: block; }
.screen90 { width: 90%; float: left; display: block; }
.screen95 { width: 95%; float: left; display: block; }
.screen100 { width: 100%; float: left; display: block; }


/* Percentage Widths */
.s-width0 { width: 0; }
.s-width5 { width: 5%; }
.s-width10 { width: 10%; }
.s-width15 { width: 15%; }
.s-width20 { width: 20%; }
.s-width25 { width: 25%; }
.s-width30 { width: 30%; }
.s-width33 { width: 33.33%; }
.s-width35 { width: 35%; }
.s-width40 { width: 40%; }
.s-width45 { width: 45%; }
.s-width50 { width: 50%; }
.s-width55 { width: 55%; }
.s-width60 { width: 60%; }
.s-width65 { width: 65%; }
.s-width66 { width: 66.66%; }
.s-width70 { width: 70%; }
.s-width75 { width: 75%; }
.s-width80 { width: 80%; }
.s-width85 { width: 85%; }
.s-width90 { width: 90%; }
.s-width95 { width: 95%; }
.s-width100 { width: 100%; }

