/* Stylesheet */
body { background: #f2f2f2; }
header { background: white; width: 100%; float: left; position: relative; z-index: 1; }
footer { background: green; position: fixed; bottom: 0; right: 0; left: 0; width: 100%; }
h1,h2 { text-indent: -99999px; position: absolute; top: 0; left: 0; }

header .wrapper { text-align: center; }
header .wrapper h1 { text-indent: -99999px; position: absolute; top: 0; left: 0; }

/* Custom Navigation */
.navigation { background: black; }
.navigation a { color: white; font-weight: bold; position: relative; padding: .5rem .5rem .5rem 2rem; display: block; float: left; }
.navigation a:before { content: " "; background: url("../images/sprites.png") no-repeat 0 0; width: 14px; height: 12px; position: absolute; top: 13px; left: 12px; }
.navigation a.active:before { background: url("../images/sprites.png") no-repeat 0 -12px;  }
.logo { text-align: center; width: 275px; padding: .5rem 0; }
.page { width: 100%; }
.wrapper { width: 100%; margin: 0 auto; }

/* Main */
.main { width: 100%; position: relative; z-index: 0; margin: 0 0 90px; height: 100%; }
.row.checklist li { float: left; width: 50%; display: block; }
.checklist { list-style: none; padding: .5rem; }
.checklist li { position: relative; padding: .5rem 0 0 2.5rem; margin: 0 0 .5rem; font-size: .9rem; font-weight: bold; }
.checklist li:before { content: " "; background: url("../images/sprites.png") no-repeat -19px 0; width: 31px; height: 31px; position: absolute; left: 0; top: 0; }

.row.locations li { float: left; width: 50%; display: block; }
.locations { list-style: none; padding: .5rem; }
.locations li a { color: black; cursor: pointer; float: left; width: 100%; display: block; position: relative; padding: .5rem 0 0 2.5rem; margin: 0 0 .5rem; font-size: .9rem; font-weight: bold; }
.locations li a:before { content: " "; background: url("../images/sprites.png") no-repeat -95px 0; width: 31px; height: 30px; position: absolute; left: 0; top: 0; }
.locations li a:hover:before { content: " "; background: url("../images/sprites.png") no-repeat -95px -30px; width: 31px; height: 30px; position: absolute; left: 0; top: 0; }

/* Location pages */
.locations li a.active { color: red; }

.call:before { content: " "; background: url("../images/sprites.png") no-repeat 0 -60px; position: absolute; right: 0; bottom: 0; width: 126px; height: 129px; }
.call {
	-moz-box-shadow:inset 0px 3px 0px 0px #a6ffa1;
	-webkit-box-shadow:inset 0px 3px 0px 0px #a6ffa1;
	box-shadow:inset 0px 3px 0px 0px #a6ffa1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4edd4e), color-stop(1, #206321));
	background:-moz-linear-gradient(top, #4edd4e 5%, #206321 100%);
	background:-webkit-linear-gradient(top, #4edd4e 5%, #206321 100%);
	background:-o-linear-gradient(top, #4edd4e 5%, #206321 100%);
	background:-ms-linear-gradient(top, #4edd4e 5%, #206321 100%);
	background:linear-gradient(to bottom, #4edd4e 5%, #206321 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4edd4e', endColorstr='#206321',GradientType=0);
	background-color:#4edd4e;
	border-top: 1px solid #206321;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 1.6rem;
	padding: 1rem;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #000000;
	text-align: left;
	width: 100%;
	position: relative;
	letter-spacing: -2px;
}
.call i { position: absolute; top: -21px; font-size: .75em; font-family: "arial black"; letter-spacing: 0; color: #e1e1e1; text-shadow: none; }
.call b { content:" "; width: 2px; display: inline-block; border-left: 1px solid black; border-right: 1px solid #4edd4e;; }
.call span { color: black; text-shadow:1px 1px 0px #4edd4e; }

/* 24/7 Support Animation */
.call i {
-webkit-animation-name: slideSupport;
-webkit-animation-iteration-count: once;
-webkit-animation-timing-function: ease-in;
-webkit-animation-duration: .6s;
}

@-webkit-keyframes slideSupport {
		0% { -webkit-transform: translateX(-100%); opacity: 0;  }
		100% { -webkit-transform: translateX(0); opacity: 1; }
}

.texas { background: url("../images/texas.svg") no-repeat 50% 50%; z-index: 0; position: fixed; top: 165px; bottom: 69px; left: 0; width: 100%; height: auto; -webkit-transform: scale(7,7);

	-webkit-animation-name: zoomTexas;
	-webkit-animation-iteration-count: once;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 2.5s;

}

@-webkit-keyframes zoomTexas {
		0% { z-index: 2; -webkit-transform: scale(.75,.75); opacity: 0; top: 165px; bottom: 69px; left: 0; width: 100%; height: auto; }
		10% { z-index: 2; opacity: 1; }
		90% { z-index: 2; -webkit-transform: scale(1,1); opacity: 1; top: 165px; bottom: 69px; left: 0; width: 100%; height: auto; }
 		100% { z-index: 2; -webkit-transform: scale(7,7); opacity: 1; top: 165px; bottom: 69px; left: 0; width: 100%; height: auto; }
}

.landingpage { position: fixed; top: 165px; bottom: 69px; left: 0; width: 100%; z-index: 1; }
.landingpage .map { margin: 0; padding: 0; height: 100%; width: 100%; position: relative; }
/*.blur { display: none; -webkit-box-shadow:inset 0 0 60px 30px #ccc; box-shadow: inset 0 0 60px 30px #ccc; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; }*/
.landingpage .blur { display: block;

	-webkit-animation-name: showBlur;
	-webkit-animation-iteration-count: once;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 3s;

}

@-webkit-keyframes showBlur {
		0% { opacity: 0; }
		95% { opacity: 0; }
		100% { opacity: 1; }
}

.landingpage .map .locations { /* box-shadow:inset 0 0 50px 60px #ccc; */ background: url("../images/sprites.png") no-repeat 50% 100%; z-index: 0; padding: 0; position: absolute; top: 50%; left: 50%; margin: -368px 0 0 -497px; width: 1065px; height: 736px;

	-webkit-animation-name: showLocations;
	-webkit-animation-iteration-count: once;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 3s;

}

@-webkit-keyframes showLocations {
		0% { -webkit-transform: scale(.3,.3); opacity: 0; }
		95% { -webkit-transform: scale(.5,.5); opacity: 0; }
		100% { -webkit-transform: scale(1,1); opacity: 1; }
}

.landingpage .map .locations li { float: none; width: auto; }
.landingpage .map .locations li a { text-indent: -99999px; background: silver !important; width: 15px; height: 15px; border-radius: 20px; border: 2px solid black; padding: 0; margin: 0; }
.landingpage .map .locations li a.active { background: red !important; border: 2px solid black; }
.landingpage .map .locations li a:before { background: none !important; }
/* variables */
/* general */
.rn-carousel-container { overflow: hidden; position: relative;
-ms-touch-action: none;
touch-action: none; }

.rn-carousel-slides { position: relative; white-space: nowrap; overflow: visible; padding: 0; margin: 0;
-webkit-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

/* IE 9 */
:root .rn-carousel-slides { position: relative; white-space: nowrap; overflow: visible; padding: 0; margin: 0;
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
}

.rn-carousel-slide { white-space: normal; vertical-align: top; display: inline-block; width: 100%; height: 100%;
-webkit-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden; }


/* indicators */
.rn-carousel-indicator { width: 100%; text-align: center; height: 20px; background-color: black; background-color: rgba(0, 0, 0, 0.6); position: relative; bottom: 0; cursor: pointer; }
.rn-carousel-indicator span { padding: 0 5px; color: #333; -webkit-transition: color .2s ease-out; transition: color .2s ease-out; }
.rn-carousel-indicator span:before { content: "\25cf"; }
.rn-carousel-indicator span.ng-leave { -webkit-transition: none !important; transition: none !important; }
.rn-carousel-indicator .active { color: white; }

/* controls */
.rn-carousel-controls { display: none; }
.rn-carousel-control { font-size: 30px; position: absolute; top: 50%; margin-top: -35px; opacity: 0.75; cursor: pointer; -webkit-transition: opacity 0.2s ease-out; transition: opacity 0.2s ease-out; }
.rn-carousel-control:hover { opacity: 1; }
.rn-carousel-control.rn-carousel-control-prev { left: 0.5em; }
.rn-carousel-control.rn-carousel-control-prev:before { content: "<"; }
.rn-carousel-control.rn-carousel-control-next { right: 0.5em; }
.rn-carousel-control.rn-carousel-control-next:before { content: ">"; }
