/* 
==========================================================================
 TABLET (min-width 481px and max-width 768px)
========================================================================== */

body { font-size: 1em; }
.wrapper { width: 90%; }


/* Temporary */
.tablet { position: fixed; bottom: 0; left: 0; z-index: 99999; padding: .5em 1em; background: black; color: white; font-weight: bold; font-size: 1.7em; display: block; content: "Tablet"; }
.tablet:after { content: "Tablet"; }


/* Device Percentages */
.tablet0 { width: 0; float: left; display: block; }
.tablet5 { width: 5%; float: left; display: block; }
.tablet10 { width: 10%; float: left; display: block; }
.tablet18 { width: 18%; float: left; display: block; }
.tablet15 { width: 15%; float: left; display: block; }
.tablet20 { width: 20%; float: left; display: block; }
.tablet25 { width: 25%; float: left; display: block; }
.tablet30 { width: 30%; float: left; display: block; }
.tablet33 { width: 33.33%; float: left; display: block; }
.tablet35 { width: 35%; float: left; display: block; }
.tablet40 { width: 40%; float: left; display: block; }
.tablet45 { width: 45%; float: left; display: block; }
.tablet50 { width: 50%; float: left; display: block; }
.tablet55 { width: 55%; float: left; display: block; }
.tablet60 { width: 60%; float: left; display: block; }
.tablet65 { width: 65%; float: left; display: block; }
.tablet66 { width: 66.66%; float: left; display: block; }
.tablet70 { width: 70%; float: left; display: block; }
.tablet75 { width: 75%; float: left; display: block; }
.tablet80 { width: 80%; float: left; display: block; }
.tablet85 { width: 85%; float: left; display: block; }
.tablet90 { width: 90%; float: left; display: block; }
.tablet95 { width: 95%; float: left; display: block; }
.tablet100 { width: 100%; float: left; display: block; }

/* Percentage Widths */
.t-width0 { width: 0; }
.t-width5 { width: 5%; }
.t-width10 { width: 10%; }
.t-width15 { width: 15%; }
.t-width20 { width: 20%; }
.t-width25 { width: 25%; }
.t-width30 { width: 30%; }
.t-width33 { width: 33.33%; }
.t-width35 { width: 35%; }
.t-width40 { width: 40%; }
.t-width45 { width: 45%; }
.t-width50 { width: 50%; }
.t-width55 { width: 55%; }
.t-width60 { width: 60%; }
.t-width65 { width: 65%; }
.t-width66 { width: 66.66%; }
.t-width70 { width: 70%; }
.t-width75 { width: 75%; }
.t-width80 { width: 80%; }
.t-width85 { width: 85%; }
.t-width90 { width: 90%; }
.t-width95 { width: 95%; }
.t-width100 { width: 100%; }